body {
    background: #E0FFFF;
}

.textos1{
    font-weight: bold !important;
    color: #4F4F4F !important;
}

.imagem{
    background-image: url(https://i.imgur.com/oPT9qbB.jpg);
    background-repeat: no-repeat; 
    width: 100vh;
    min-height: 100vh;
    background-size: cover; 
    background-position: center;
}

.text-decorator-none {
    text-decoration: none;
}

.btn {
    background-color: #E0FFFF;
}

.caixa {
    background: #E0FFFF;
}